<h1>Listing recomendaciones</h1>
<div class="panel panel-default">
<table class="table table-hover" >

  <thead>
    <tr>
      <th>Tipo</th>
      <th>Taller</th>
      <th>Ubicacion</th>
      <th>Comentario</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recomendaciones.each do |recomendacione| %>
      <tr>
        <td><%= recomendacione.tipo %></td>
        <td><%= recomendacione.taller %></td>
        <td><%= recomendacione.ubicacion %></td>
        <td><%= recomendacione.comentario %></td>
        <td><%= recomendacione.usuario.email %></td>
        <td><%= link_to 'Show', recomendacione %></td>
        <td><%= link_to 'Edit', edit_recomendacione_path(recomendacione) %></td>
        <td><%= link_to 'Destroy', recomendacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Recomendacione', new_recomendacione_path %>
