<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @miembrotuerca.nombre %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @miembrotuerca.nick %>
</p>




<%= link_to 'Edit', edit_miembrotuerca_path(@miembrotuerca) %> |
<%= link_to 'Back', miembrotuercas_path %>
